{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href={% static "css/style.css" %}>
<title>Register Page</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h1 class="text-center">Sign Up</h1>
                        <p class="text-center">Already have an Account? <a href="{% url 'Login' %}" name="Login">Log In</a></p>
                        <form class="form-signin">
                            <hr class="my-4"> 
                            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit">
                                <i class="fab fa-google mr-2"></i><a class="text-link" href="{% provider_login_url 'google' %}" target="_blank"> Sign Up with Google</a>
                            </button> 
                            <button class="btn btn-lg btn-linkedin btn-block text-uppercase" type="submit">
                                <i class="fab fa-linkedin mr-2"></i><a class="text-link" href="{% provider_login_url 'linkedin_oauth2' %}" target="_blank"> Sign Up with LinkedIn</a>
                            </button>
                            <button class="btn btn-lg btn-github btn-block text-uppercase" type="submit">
                                <i class="fab fa-github mr-2"></i><a class="text-link" href="{% provider_login_url 'github' %}" target="_blank"> Sign Up with GitHub</a>
                            </button>
                            <button class="btn btn-lg btn-twitter btn-block text-uppercase" type="submit">
                                <i class="fab fa-twitter mr-2"></i><a class="text-link" href="{% provider_login_url 'twitter' %}" target="_blank"> Sign Up with Twitter</a>
                            </button> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>